<div class="form-group">
    <label>{{localized.cameraViewLabel}}:</label>
    <select id="cameraViews">
        {{#select currentSettings.cameraView}}
            <option value="Full">{{localized.full}}</option>
            <option value="Hide">{{localized.hide}}</option>
            <option value="Names Only">{{localized.namesOnly}}</option>
        {{/select}}
    </select>
    <div class="notes">
        <ul style="width: 100%;">
            <li><b>{{localized.hide}}:</b> {{localized.hideDesc}}</li>
            <li><b>{{localized.namesOnly}}:</b> {{localized.namesOnlyDesc}}</li>
            <li><b>{{localized.full}}:</b> {{localized.fullDesc}}</li>
        </ul>
    </div>
</div>